body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto condensed",
    "Helvetica", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2f2f2f;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto condensed",
    "Helvetica", "sans-serif";
}
